# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore database file
db.sqlite3

# Ignore Django migration files
**/migrations/

# Ignore environment variables and sensitive files
.env
